@{
    Layout = null;
}

<html>


<body>


    <ul class="nav navbar-nav">
     <li>@Html.ActionLink("Homepage","Index","Home")</li>
    <li>@Html.ActionLink("About Us", "About", "Home")</li>
    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
    </ul>
    
    @Html.ActionLink("Book","Room","Create")
  
    
     <li>@Html.ActionLink("Logout", "Logout", "Create")</li>
</ul>
         

    @if (Session["fname"] != null)
    {
<text>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome  @Session["fname"].ToString()  </h3>
</text>
}

</body>
</html>    